/**
 * Tree Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@tree-assets-img: 'https://aliwork.alicdn.com/tps/TB1k_tsKpXXXXcQXFXXXXXXXXXX-130-87.png';

@treePrefixCls: kuma-tree;
.@{treePrefixCls} {
  margin: 0;
  padding: 5px;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;
    line-height: 24px;
    ul {
      margin: 0;
      padding: 0 0 0 18px;
      &.@{treePrefixCls}-line {
        background: url("https://t.alipayobjects.com/images/T13BtfXl0mXXXXXXXX.gif") 0 0 repeat-y;
      }
    }
    a {
      display: inline-block;
      padding: 2px 6px;
      cursor: pointer;
      text-decoration: none;
      line-height: 18px;
      vertical-align: middle;
      color: #666;
      &:hover {
        background-color: hsv(round(hsvhue(@brand-primary) + 2), round(hsvsaturation(@brand-primary) - 78%), round(hsvvalue(@brand-primary) + 5%));
      }
      &.@{treePrefixCls}-node-selected {
        color: @brand-primary;
      }
    }
    span {
      &.@{treePrefixCls}-switcher-noop,
      &.@{treePrefixCls}-switcher,
      &.@{treePrefixCls}-iconEle {
        margin-right: 2px;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        border: 0 none;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url(@tree-assets-img);
      }
      &.@{treePrefixCls}-switcher-noop {
        background-image: none;
      }
      &.@{treePrefixCls}-switcher {
        &-disabled {
          background: #fff;
          position: relative;
          &:after {
            content: '-';
            position: absolute;
            top: 8px;
            left: 6px;
            color: gray;
          }
        }
        &.@{treePrefixCls}-roots_open {
          background-position: -112px 0px;
        }
        &.@{treePrefixCls}-roots_close {
          background-position: -94px 0px;
        }
        &.@{treePrefixCls}-center_open {
          background-position: -112px -18px;
        }
        &.@{treePrefixCls}-center_close {
          background-position: -94px -18px;
        }
        &.@{treePrefixCls}-bottom_open {
          background-position: -112px -36px;
        }
        &.@{treePrefixCls}-bottom_close {
          background-position: -94px -36px;
        }
      }
    }
  }
  &-child-tree {
    display: none;
    &-open {
      display: block;
    }
  }
  &-treenode-disabled {
    > span,
    > a {
      color: gray;
    }
  }
}
.use-svg {
  .@{treePrefixCls}-switcher {
    &.@{treePrefixCls}-noline_open {
      background: url('https://img.alicdn.com/tps/TB1IvveJVXXXXbcXFXXXXXXXXXX-14-10.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
    &.@{treePrefixCls}-noline_close {
      background: url('https://img.alicdn.com/tps/TB17BHzJVXXXXXEXXXXXXXXXXXX-10-14.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }
  .@{treePrefixCls}-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    background: url("@{svg-path}/checkbox-normal.svg") no-repeat;
    &.@{treePrefixCls}-checkbox-checked {
      background: url("@{svg-path}/checkbox-checked.svg") no-repeat;
      &.@{treePrefixCls}-checkbox-disabled {
        background: url("@{svg-path}/checkbox-checked-disabled.svg") no-repeat;
      }
    }
    &.@{treePrefixCls}-checkbox-indeterminate {
      background: url("@{svg-path}/checkbox-partial-checked.svg") no-repeat;
    }
    &-checkbox-disabled {
      background: url("@{svg-path}/checkbox-disabled.svg") no-repeat;
    }
  }
}
.no-svg {
  .@{treePrefixCls}-switcher {
    &.@{treePrefixCls}-noline_open {
      background-position: -115px -72px;
    }
    &.@{treePrefixCls}-noline_close {
      background-position: -97px -72px;
    }
  }
  .@{treePrefixCls}-checkbox {
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    background-image: url(@tree-assets-img);
    width: 14px;
    height: 14px;
    background-position: 0 0;
    &.@{treePrefixCls}-checkbox-checked {
      background-position: -15px 0;
    }
    &.@{treePrefixCls}-checkbox-indeterminate {
      background-position: -15px -28px;
    }
    &-disabled {
      background-position: 0 -28px!important;
    }
  }
}
